{{ define "main" }}

<div class="row-fluid navmargin">
    <div class="page-header">
        <h1>{{ .Site.Params.mainpagetitle }}</h1>
    </div>
</div>

<div class="row-fluid">
    <div class="span9 bs-docs-sidebar">
        <p class="lead">{{ .Site.Params.mainpagesubtitle }}</p>
        <p></p>
        <p>{{ .Site.Params.mainpagedesc }}</p>
        <p></p>
        <hr class="soften">
        <p></p>
        <h1>{{ i18n "postslist" }}</h1>
        <ul>
            {{ range first 10 .Site.RegularPages }}
            {{ if eq .Type "post" }}
            <li><a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a></li>
            {{ end }}
            {{ end }}
        </ul>
    </div>

    <div class="span3 bs-docs-sidebar" style="margin-bottom: 30px">
        <img class="margbot" src="https://pa1.narvii.com/6197/8b5850757c90c9322e1da435e12ab5c769b8d8ae_00.gif"
            style="align-self: center" align="right"/>
        <div>
        <h1>{{ i18n "categories" }}</h1>
        <ul class="nav nav-list bs-docs-sidenav">
            {{ partial "categories.html" .}}
        </ul>
        <p></p>
        <h1>{{ i18n "tags" }}</h1>
        <ul class="nav nav-list bs-docs-sidenav">
            {{ partial "tags.html" .}}
        </ul>
        </div>
    </div>
    
        <div align-self="right">
        <img align="right" width=240 src="https://pa1.narvii.com/6012/fe4a30e2e5aabd0ccec21fc1b4576719005288b5_hq.gif"/>
            THE INTERNET IS AWESOME.
            YOU CAN DOWNLOAD LOVE.
            THE INTERNET IS AWESOME.
            YOU CAN DOWNLOAD LOVE.
            THE INTERNET IS AWESOME.
            YOU CAN DOWNLOAD LOVE.
            THE INTERNET IS AWESOME.
            YOU CAN DOWNLOAD LOVE.
            THE INTERNET IS AWESOME.
            YOU CAN DOWNLOAD LOVE.
            THE INTERNET IS AWESOME.
            YOU CAN DOWNLOAD LOVE.
            THE INTERNET IS AWESOME.
            YOU CAN DOWNLOAD LOVE.
            THE INTERNET IS AWESOME.
            YOU CAN DOWNLOAD LOVE.
            THE INTERNET IS AWESOME.
            YOU CAN DOWNLOAD LOVE.
            THE INTERNET IS AWESOME.
            YOU CAN DOWNLOAD LOVE ONLINE.
            THE INTERNET IS AWESOME.
            YOU CAN DOWNLOAD LOVE ONLINE.
            THE INTERNET IS AWESOME.
            YOU CAN DOWNLOAD LOVE ONLINE.
            THE INTERNET IS AWESOME.
            YOU CAN DOWNLOAD LOVE ONLINE.
            THE INTERNET IS AWESOME.
            YOU CAN DOWNLOAD LOVE.
        </div>
</div>

{{ end }}
